<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="d-flex col-12 justify-content-center col-md-6  justify-content-md-end">
                <a [routerLink]="['/home']">
                    <img class="logo" src="assets/images/logo.png" alt="EtherealWear logo">
                    <!-- <img class="logo" src="assets/svg/logo-black.svg" alt="EtherealWear logo"> -->
                </a>
            </div>
            <div class="col-6 .d-md-none">
                <nav class="main-nav d-flex  justify-content-end ">
                    <ul class="nav">
                        <li class="scroll-to-section"><a [routerLink]="['home']"
                                [routerLinkActive]="['active']">HOME</a></li>
                        <li class="scroll-to-section"><a  [routerLink]="['products']"
                                [routerLinkActive]="['active']">PRODUCTS</a></li>
                        <li class="scroll-to-section"><a [routerLink]="['about']" [routerLinkActive]="['active']">ABOUT
                            </a></li>
                        <li class="scroll-to-section"><a [routerLink]="['contact']"
                                [routerLinkActive]="['active']">CONTACT</a></li>
                        <li class="scroll-to-section"><a [routerLink]="['cart']"
                                [routerLinkActive]="['active']">CART</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>