<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a [routerLink]="['/home']" >
                        <img class="logo" src="assets/svg/logo-black.svg" alt="EtherealWear logo">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a [routerLink]="['/home']" [routerLinkActive]="['active']" >Home</a></li>
                        <li class="scroll-to-section"><a [routerLink]="['/products']" [routerLinkActive]="['active']" >Products</a></li>
                        <li class="scroll-to-section"><a [routerLink]="['/about']" [routerLinkActive]="['active']" >About Us</a></li>
                        <li class="scroll-to-section"><a [routerLink]="['/contact']" [routerLinkActive]="['active']" >Contact Us</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->