 <!-- ***** Social Area Starts ***** -->
 <section class="section" id="social">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2 [innerHTML]="socialMediaData.title | marked"></h2>
                    <span [innerHTML]="socialMediaData.description | marked"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row images">       
            <div *ngFor="let imageItem of socialMediaData.social_media_image" class="col-2">
                <div class="thumb">
                    <div class="icon">
                        <a [href]="imageItem.instagram_link">
                            <h6 [innerHTML]="imageItem.title | marked"></h6>
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                    <img class="rounded-circle " [src]="apiUrl + imageItem.background_image.url" alt="social-media-image">
                </div>
            </div>

        </div>
    </div>
</section>
<!-- ***** Social Area Ends ***** -->