<ng-container *ngIf="!isLoading && aboutData">
    <app-main-banner *ngIf="aboutData.banner" [title]="aboutData.banner.title"  [backgroundImageUrl]="backgroundImageUrl"></app-main-banner>
    <app-about-skills  *ngIf="aboutData.Skills_section" [skillsData]="aboutData.Skills_section"></app-about-skills>
    <!-- <app-our-team></app-our-team> -->
    <app-our-services *ngIf="aboutData.Services_section" [servicesData]="aboutData.Services_section" ></app-our-services>
    <app-news-letter *ngIf="newsLetterData" [newsLetterData]="newsLetterData"></app-news-letter>
</ng-container>
<ng-container *ngIf="isLoading">
   <app-loader></app-loader>
</ng-container>

