<!-- ***** Subscribe Area Starts ***** -->
<div class="subscribe">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="section-heading">
          <h2 [innerHTML]="newsLetterData.title | marked"></h2>
          <span [innerHTML]="newsLetterData.description | marked"></span>
        </div>

        <form id="subscribe" action="https://api.web3forms.com/submit" method="POST">
          <input type="hidden" name="access_key" value="8306e414-0502-407f-bbf9-ee42bfbfbf81">
          <div class="row">
            <div class="col-lg-5">
              <fieldset>
                <input name="name" type="text" id="name" placeholder="Your Name" required>
              </fieldset>
            </div>
            <div class="col-lg-5">
              <fieldset>
                <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email Address"
                  required>
              </fieldset>
            </div>
            <div class="col-lg-2">
              <div class="h-captcha" data-captcha="true"></div>
              <fieldset>
                <button type="submit" id="form-submit" class="main-dark-button"><i
                    class="fa fa-paper-plane"></i></button>
              </fieldset>
            </div>
          </div>
        </form>



      </div>
      <div class="col-lg-4">
        <div class="row">
          <div class="col-6">
            <ul>
              <li  *ngIf="newsLetterData.phone_number">Phone:<br><span  [innerHTML]="newsLetterData.phone_number | marked"></span></li>
              <li *ngIf="newsLetterData.work_hours">Work Hours:<br><span [innerHTML]="newsLetterData.work_hours | marked"></span></li>
            </ul>
          </div>
          <div class="col-6">
            <ul>
              <li *ngIf="newsLetterData.email">Email:<br><span  [innerHTML]="newsLetterData.email | marked"></span></li>
              <li>Social Media:<br><span><a  *ngIf="newsLetterData.facebook_link"[href]="newsLetterData.facebook_link">Facebook,</a> <a
                *ngIf="newsLetterData.instagram_link"   [href]="newsLetterData.instagram_link">Instagram</a></span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>