<!-- ***** Services Area Starts ***** -->
<section class="our-services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2 [innerHTML]="servicesData.title | marked"></h2>
                    <span [innerHTML]="servicesData.description | marked"></span>
                </div>
            </div>
            <div *ngFor="let card of servicesData.services_card" class="col-lg-4">
                <div class="service-item">
                    <h4 [innerHTML]="card.title | marked"></h4>
                    <p [innerHTML]="card.description | marked"></p>
                    <img *ngIf="card.image" class="rounded-circle item-image-1" [src]="apiUrl + card.image.formats.medium?.url" alt="car-image">
                </div>
            </div>
            
        </div>
    </div>
</section>
<!-- ***** Services Area Ends ***** -->