@media (max-width: 2560px) {
    .item-image {
        height: 300px;
    }
}

@media (max-width: 1440px) {
    .item-image {
        height: 350px;
    }
}

@media (max-width: 1024px) {
    .item-image {
        height: 250px;
    }
}

@media only screen and (max-width: 768px) {
    .item-image {
        height: 700px;
    }

}


// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .item-image {
        height: 400px;
    }


}

@media only screen and (max-width: 375px) {
    .item-image {
        height: 350px;
    }

}

@media only screen and (max-width: 320px) {
    .item-image {
        height: 300px;
    }


}