<section class="section" id="products">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2  [innerHTML]="productsData.title| marked" >Our Latest Products</h2>
                    <span  [innerHTML]="productsData.description | marked" >Check out all of our products.</span>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!isLoading" class="container">
        <div class="row">
            <ng-container *ngIf="visibleProducts.length > 0 ">
                <div *ngFor="let product of visibleProducts" class="col-lg-4">
                    <div class="item">
                        <div class="thumb">
                            <div class="hover-content">
                                <ul>
                                    <li><a class="rounded-circle"  [routerLink]="['/products', product.id]"><i class="fa fa-eye"></i></a></li>
                                    <li><a class="rounded-circle"  [routerLink]="['/cart']"><i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                            </div>

                            <ng-container *ngIf="product.main_Image?.formats?.medium ; else alternativeImage">
                                <img class="rounded-circle item-image" 
                                [src]="apiUrl + product.main_Image?.formats?.medium?.url" alt="product-image">
                              </ng-container>
                              
                              <ng-template #alternativeImage>
                                <img class="rounded-circle item-image" 
                                [src]="apiUrl + product.main_Image?.formats?.thumbnail?.url" alt="product-image">
                              </ng-template>

                        </div>
                        <div class="down-content">
                            <h4 [innerHTML]="product.Name | marked"></h4>
                            <span [innerHTML]="product.price | marked"></span>
                            <ul  class="stars">
                                <li *ngFor="let star of  [].constructor(product.stars)"><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="pagination">
                        <ul>
                            <li [ngClass]="{'active': page === currentPage}" *ngFor="let page of totalPages" (click)="changePage(page)" role="button" >
                                <a  class="rounded-circle">{{page}}</a>
                            </li>
                        </ul>
                      </div>
                </div>
            </ng-container>

            <ng-container *ngIf="visibleProducts.length === 0"> 
                <div class="container">
                    <div class="row justify-content-center align-items-center" >
                            <h2>no products available</h2>
                    </div>
                </div>            
            </ng-container>

        </div>
    </div>
</section>