 <!-- ***** Explore Area Starts ***** -->
 <section class="section" id="explore">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-content">
                    <h2>Explore Our Products</h2>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione adipisci corporis, beatae quas at vitae minima quisquam in distinctio consectetur.</span>
                    <div class="quote">
                        <i class="fa fa-quote-left"></i><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto aperiam suscipit distinctio placeat rerum facilis impedit totam veritatis nostrum eveniet!</p>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem obcaecati eius quas qui deleniti delectus reprehenderit. Ea delectus, iure aperiam illum voluptatem voluptatum? Ipsum beatae odit nisi ab quam ex neque omnis dolorum repudiandae aliquid?</p>
                    <div class="main-border-button">
                        <a href="products.html">Discover More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="leather">
                                <h4>Leather Bags</h4>
                                <span>Latest Collection</span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="first-image">
                                <img src="assets/images/explore-image-01.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="second-image">
                                <img src="assets/images/explore-image-02.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="types">
                                <h4>Different Types</h4>
                                <span>Over 304 Products</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Explore Area Ends ***** -->