 <!-- ***** Explore Area Starts ***** -->
 <section class="section" id="explore">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-content">
                    <h2 [innerHTML]="exploreData.title | marked"></h2>
                    <span [innerHTML]="exploreData.top_description | marked"></span>
                    <div class="quote">
                        <i class="fa fa-quote-left"></i><p [innerHTML]="exploreData.quote | marked"></p>
                    </div>
                    <p [innerHTML]="exploreData.quote | marked"></p>
                    <div class="main-border-button">
                        <a class="round--button" [routerLink]="['/products']">Discover More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-content">
                    <div class="row">
                        <div class="col-lg-6">
                        </div>
                        <div class="col-lg-6">
                            <div class="first-image">
                                <img class="rounded-circle top-image " [src]="apiUrl + exploreData.top_image.url" alt="top-image">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="second-image">
                                <img class="rounded-circle bottom-image"  [src]="apiUrl + exploreData.bottom_image.url" alt="bottom-image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Explore Area Ends ***** -->