// `sm` applies to x-small devices (portrait phones, less than 576px)

@media only screen and (max-width: 768px) {
    .item-image {
        height: 600px;
    }
}

@media only screen and (max-width: 425px) {
    .item-image {
        height: 350px;
    }
}


@media only screen and (max-width: 375px) {
    .item-image {
        height: 300px;
    }
}

@media only screen and (max-width: 320px) {
    .item-image {
        height: 250px;
    }
}