<!-- ***** About Area Starts ***** -->
<div class="about-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-image">
                    <img class="rounded-circle left-image-desktop" [src]="apiUrl + skillsData.image.url" alt="image">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-content">
                    <h4 [innerHTML]="skillsData.title | marked"></h4>
                    <span [innerHTML]="skillsData.top_description | marked"></span>
                    <div class="quote">
                        <i class="fa fa-quote-left"></i><p [innerHTML]="skillsData.quote | marked"></p>
                    </div>
                    <p [innerHTML]="skillsData.bottom_description | marked"></p>
                    <ul class="mb-2">
                        <li *ngIf="skillsData.facebook_link"><a [href]="skillsData.facebook_link"><i class="fa fa-facebook"></i></a></li>
                        <li *ngIf="skillsData.instagram_link"><a [href]="skillsData.instagram_link"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** About Area Ends ***** -->