<ng-container *ngIf="!isLoading">
    <app-main-banner *ngIf="singleProductData.banner" [title]="singleProductData.banner.title"
        [backgroundImageUrl]="backgroundImageUrl"></app-main-banner>
    <section class="section" id="product">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="left-images">
                        <img *ngIf="selectedProduct.details_Top_Image"
                            [src]="apiUrl + selectedProduct.details_Top_Image.url" alt="product-top-image">
                        <img *ngIf="selectedProduct.details_Bottom_Image"
                            [src]="apiUrl + selectedProduct.details_Bottom_Image.url" alt="product-bottom-image">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="right-content">
                        <h4 [innerHTML]="selectedProduct.Name| marked"></h4>
                        <span [innerHTML]="selectedProduct.price| marked" class="price"></span>
                        <ul class="stars">
                            <li *ngFor="let star of  [].constructor(selectedProduct.stars)"><i class="fa fa-star"></i>
                            </li>
                        </ul>
                        <span [innerHTML]="selectedProduct.description | marked"></span>
                        <div class="quantity-content">
                            <div class="left-content">
                                <h6>No. of Orders</h6>
                            </div>
                            <div class="right-content">
                                <div class="quantity buttons_added">
                                    <div>
                                        <input type="button" value="-" class="minus" (click)="decreaseQuantity()">
                                        <input type="number" step="1" min="1" max="" name="quantity"
                                            [(ngModel)]="quantity" title="Qty" class="input-text qty text" size="4"
                                            pattern="" inputmode="">
                                        <input type="button" value="+" class="plus" (click)="increaseQuantity()">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="total">
                            <h4>Total: ${{totalPrice}}</h4>
                            <div class="main-border-button d-flex align-items-center justify-content-center"><a
                                    class="round--button">Add To Cart</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</ng-container>


<ng-container *ngIf="isLoading">
    <app-loader></app-loader>
</ng-container>