
<div class="main-banner" id="top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-content">
                    <div class="thumb">
                        <div class="inner-content">
                            <div class="main-border-button">
                                <a class="round--button" [routerLink]="['/products']">Purchase Now!</a>
                            </div>
                        </div>
                        <img class="rounded-circle banner-images" src="assets/images/left-banner-image.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>Women</h4>
                                        <span>Best Clothes For Women</span>
                                    </div>
                                    <div class="hover-content rounded-circle">
                                        <div class="inner">
                                            <h4>Women</h4>
                                            <div class="main-border-button ">
                                                <a class="round--button"  [queryParams]="{category: 'women'}" [routerLink]="['/products']">Discover More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img class="rounded-circle banner-images" src="assets/images/baner-right-image-01.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>Men</h4>
                                        <span>Best Clothes For Men</span>
                                    </div>
                                    <div class="hover-content rounded-circle">
                                        <div class="inner">
                                            <h4>Men</h4>
                                            <div class="main-border-button ">
                                                <a class="round--button"  [queryParams]="{category: 'men'}" [routerLink]="['/products']">Discover More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img class="rounded-circle banner-images" src="assets/images/baner-right-image-02.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>Kids</h4>
                                        <span>Best Clothes For Kids</span>
                                    </div>
                                    <div class="hover-content rounded-circle">
                                        <div class="inner">
                                            <h4>Kids</h4>
                                            <div class="main-border-button ">
                                                <a class="round--button"  [queryParams]="{category: 'kids'}" [routerLink]="['/products']">Discover More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img class="rounded-circle banner-images" src="assets/images/baner-right-image-03.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>Accessories</h4>
                                        <span>Best Trend Accessories</span>
                                    </div>
                                    <div class="hover-content rounded-circle">
                                        <div class="inner">
                                            <h4>Accessories</h4>
                                            <div class="main-border-button ">
                                                <a class="round--button"  [queryParams]="{category: 'accessories'}" [routerLink]="['/products']">Discover More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img class="rounded-circle banner-images" src="assets/images/baner-right-image-04.jpg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>