 <!-- ***** Subscribe Area Starts ***** -->
 <div class="subscribe">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="section-heading">
                    <h2>By Subscribing To Our Newsletter You Can Get 30% Off</h2>
                    <span>Details to details is what makes EtherealWear different from the other stores.</span>
                </div>
                <form id="subscribe" action="" method="get">
                    <div class="row">
                      <div class="col-lg-5">
                        <fieldset>
                          <input name="name" type="text" id="name" placeholder="Your Name" required="">
                        </fieldset>
                      </div>
                      <div class="col-lg-5">
                        <fieldset>
                          <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email Address" required="">
                        </fieldset>
                      </div>
                      <div class="col-lg-2">
                        <fieldset>
                          <button type="submit" id="form-submit" class="main-dark-button"><i class="fa fa-paper-plane"></i></button>
                        </fieldset>
                      </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-6">
                        <ul>
                            <li>Phone:<br><span>961-70-038900</span></li>
                            <li>Work Hours:<br><span>07:30 AM - 9:30 PM Daily</span></li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul>
                            <li>Email:<br><span>ethereal.wear1@gmail.com</span></li>
                            <li>Social Media:<br><span><a href="#">Facebook</a>, <a href="https://www.instagram.com/e.therealwear">Instagram</a></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>