.round--button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
}

.main-border-button {
    display: flex;
    align-items: center;
    justify-content: end;
}

.main-border-button a {
    color: #000;
    border: 1px solid #000;

}

.main-border-button a:hover {
    background-color: #000;
    color: #fff;
}

.table-responsive {
    overflow-x: auto;
}

.white-space-pre {
    white-space: pre;
}